/* FUENTES */
@font-face {
  font-family: "kg_second_chances_sketchRg";
  src: url("../fonts/kgsecondchancessketch-webfont.woff2") format("woff2"),
    url("../fonts/kgsecondchancessketch-webfont.woff") format("woff");
}

@font-face {
  font-family: "kg_second_chances_solidRg";
  src: url("../fonts/kgsecondchancessolid-webfont.woff2") format("woff2"),
    url("../fonts/kgsecondchancessolid-webfont.woff") format("woff");
}

@font-face {
  font-family: "loved_by_the_kingregular";
  src: url("../fonts/lovedbytheking-regular-webfont.woff2") format("woff2"),
    url("../fonts/lovedbytheking-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 
body {
  background-image: url(../Images/pizarra.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* HEADER */
/* .header_nav {
  display: flex;
  margin: 40px auto;
  justify-content: space-between;
  margin-top: 70px;
}

.header_nav h2 {
  text-align: center;
  align-items: center;
  font-family: "kg_second_chances_solidRg";
  font-size: 2em;
  color: #ffffff;
  margin-left: 470px;
  padding-top: 5px;
}

.socials_icons {
  width: 40px;
  margin-left: 20px;
  transition: 0.4s all ease-in-out;
}

.socials_icons:hover {
  transform: scale(1.3);
} */

/* MAIN */
/* .main_title h1 {
  width: 800px;
  font-family: "kg_second_chances_sketchRg";
  font-size: 6.5em;
  text-align: center;
  color: #ffffff;
  line-height: 130px;
  text-align: center;
  margin: 0 auto;
}

.button_play_index {
  width: 200px;
  height: 80px;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.4s all ease-in-out;
}

.button_play_index:hover {
  transform: scale(1.1);
}

.button_play_index a {
  position: absolute;
  width: 200px;
  height: 80px;
  text-align: center;
  align-items: center;
  font-size: 2em;
  font-family: "loved_by_the_kingregular";
  color: #ffffff;
  background-color: #ffffff23;
  border: none;
  border-radius: 10px;
  padding-top: 25px;
} */

/* FOOTER */
/* footer {
  margin-top: auto;
  margin-bottom: 20px;
}

.footer_container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.footer_drew img {
  width: 250px;
  justify-content: left;
}

.footer_paragraph {
  font-family: "loved_by_the_kingregular";
  font-size: 2em;
  text-align: center;
  align-items: center;
  color: #ffffff;
  line-height: 50px;
  margin-right: 30%;
} */

/* =========================================================== */
@media only screen and (min-width: 320px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    min-height: 100%;
    position: relative;
  }

  body {
    background-image: url(../images/pizarra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
  }

  /* HEADER */
  header {
    width: 100%;
    margin-top: 50px;
  }

  .header_nav {
    display: flex;
    justify-content: space-evenly;
  }

  .header_nav h2 {
    margin-top: 5px;
    font-family: "kg_second_chances_solidRg";
    font-size: 1.5em;
    color: #ffffff;
    margin-right: 20px;
  }

  .socials_icons {
    width: 30px;
    margin-left: 5px;
    transition: 0.4s all ease-in-out;
  }

  .socials_icons:hover {
    transform: scale(1.3);
  }

  /* MAIN */
  main {
    width: 100%;
    margin: 30px 0;
  }
  .main_title h1 {
    text-align: center;
    font-family: "kg_second_chances_sketchRg";
    font-size: 3em;
    color: #ffffff;
    line-height: 60px;
  }

  .button_play_index {
    width: 180px;
    height: 70px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    transition: 0.4s all ease-in-out;
  }

  .button_play_index:hover {
    transform: scale(1.1);
  }

  .button_play_index a {
    position: absolute;
    width: 180px;
    height: 70px;
    text-align: center;
    align-items: center;
    font-size: 1.7em;
    font-family: "loved_by_the_kingregular";
    color: #ffffff;
    background-color: #ffffff23;
    border: none;
    border-radius: 10px;
    padding-top: 25px;
  }

  /* FOOTER */
  footer {
    width: 100%;
    height: 100%;
    align-self: flex-end;
    padding-bottom: 20px;
  }

  .footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer_drew img {
    visibility: hidden;
  }

  .footer_paragraph {
    font-family: "loved_by_the_kingregular";
    font-size: 1.1em;
    text-align: center;
    align-items: center;
    color: #ffffff;
    line-height: 25px;
  }
}

@media only screen and (min-width: 480px) {
  /* HEADER */
  .header_nav h2 {
    margin-left: 110px;
  }

  /* MAIN */
  .main_title h1 {
    font-size: 3.5em;
    line-height: 70px;
    margin: 0 80px;
  }

  /* FOOTER */
  .footer_paragraph {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 768px) {
  /* HEADER */
  .header_nav h2 {
    font-size: 1.7em;
    margin-left: 190px;
  }

  /* MAIN */
  .main_title h1 {
    font-size: 4em;
    margin: 0 150px;
    line-height: 80px;
  }

  /* FOOTER */
  .footer_paragraph {
    font-size: 1.6em;
    line-height: 35px;
  }
}

@media only screen and (min-width: 1024px) {
  /* HEADER */
  .header_nav h2 {
    font-size: 1.7em;
    margin-left: 250px;
  }

  /* MAIN */
  .main_title h1 {
    font-size: 5em;
    margin: 0 250px;
    line-height: 90px;
  }

  .button_play_index {
    width: 200px;
    height: 80px;
    margin-top: 50px;
  }

  .button_play_index a {
    position: absolute;
    width: 200px;
    height: 80px;
    font-size: 1.9em;
  }

  /* FOOTER */
  .footer_paragraph {
    font-size: 1.6em;
    line-height: 35px;
  }
}

@media only screen and (min-width: 1280px) {
  /* HEADER */
  .header_nav h2 {
    font-size: 2.3em;
    margin-left: 250px;
    padding-left: 70px;
  }

  .socials_icons {
    width: 40px;
    margin-left: 15px;
  }

  /* MAIN */
  .main_title h1 {
    font-size: 6em;
    margin: 0 250px;
    line-height: 110px;
  }

  .button_play_index {
    width: 300px;
    height: 90px;
    margin-top: 70px;
  }

  .button_play_index a {
    position: absolute;
    width: 300px;
    height: 90px;
    font-size: 2.3em;
  }

  /* FOOTER */
  .footer_paragraph {
    font-size: 2.3em;
    line-height: 50px;
  }
}

@media only screen and (min-width: 1440px) {
  /* HEADER */
  .header_nav h2 {
    margin-left: 280px;
  }

  /* MAIN */
  .main_title h1 {
    margin: 0 300px;
  }

  .button_play_index a {
    font-size: 2.4em;
  }
}

@media only screen and (min-width: 1680px) {
  /* HEADER */
  header{
    margin-top: 80px;
  }
  .header_nav h2 {
    font-size: 2.7em;
    margin-left: 340px;
  }

  .socials_icons {
    width: 50px;
    margin-left: 20px;
  }

  /* MAIN */
  .main_title h1 {
    font-size: 7em;
    line-height: 120px;
  }

  .button_play_index {
    width: 350px;
    height: 110px;
  }

  .button_play_index a {
    width: 350px;
    height: 110px;
    font-size: 3em;
    padding-top: 35px;
  }

  /* FOOTER */
  .footer_paragraph {
    font-size: 2.8em;
    line-height: 60px;
  }
}
