
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FUENTES */
@font-face {
  font-family: "kg_second_chances_sketchRg";
  src: url("../fonts/kgsecondchancessketch-webfont.woff2") format("woff2"),
    url("../fonts/kgsecondchancessketch-webfont.woff") format("woff");
}

@font-face {
  font-family: "kg_second_chances_solidRg";
  src: url("../fonts/kgsecondchancessolid-webfont.woff2") format("woff2"),
    url("../fonts/kgsecondchancessolid-webfont.woff") format("woff");
}

@font-face {
  font-family: "loved_by_the_kingregular";
  src: url("../fonts/lovedbytheking-regular-webfont.woff2") format("woff2"),
    url("../fonts/lovedbytheking-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@media only screen and (min-width: 320px) {
  html {
    min-height: 100%;
    position: relative;
  }

  body {
    background-image: url(../images/pizarra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
  }

  /* HEADER */
  header {
    width: 100%;
    margin-top: 50px;
  }

  .header_nav {
    display: flex;
    justify-content: space-evenly;
  }

  .header_logo {
    display: flex;
  }
  .header_logo img {
    visibility: hidden;
  }

  .header_nav h2 {
    font-family: "kg_second_chances_solidRg";
    font-size: 0,9em;
    color: #ffffff;
  }

  .socials_icons {
    width: 20px;
    margin-left: 5px;
    transition: 0.4s all ease-in-out;
  }

  .socials_icons:hover {
    transform: scale(1.3);
  }

  /* MAIN */
  main {
    width: 100%;
    margin: 30px 0;
  }

  .main_title h1 {
    text-align: center;
    font-family: "kg_second_chances_sketchRg";
    font-size: 2.5em;
    color: #ffffff;
    line-height: 50px;
  }

  .button_play_index {
    width: 120px;
    height: 50px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    transition: 0.4s all ease-in-out;
  }

  .button_play_index:hover {
    transform: scale(1.1);
  }

  .button_play_index a {
    position: absolute;
    width: 120px;
    height: 50px;
    text-align: center;
    align-items: center;
    font-size: 1.2em;
    font-family: "loved_by_the_kingregular";
    color: #ffffff;
    background-color: #ffffff23;
    border: none;
    border-radius: 10px;
    padding-top: 17px;
  }

  /* FOOTER */
  footer {
    width: 100%;
    height: 100%;
    align-self: flex-end;
    justify-content: space-evenly;
    padding-bottom: 20px;
  }

  .footer_container {
    display: flex;
    align-items: center;
  }

  .footer_drew img {
    visibility: hidden;
  }

  .footer_paragraph {
    font-family: "loved_by_the_kingregular";
    font-size: 1.1em;
    text-align: center;
    align-items: baseline;
    color: #ffffff;
    line-height: 25px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 480px) {
  /* MAIN */
  .main_title h1 {
    line-height: 50px;
  }

  /* FOOTER */
  .footer_paragraph {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 768px) {
  /* HEADER */
  header{
    margin-top: 30px;
  }

  .header_logo{
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .header_logo h2 {
    font-size: 1.1em;
    padding-top: 10px;
  }

  .header_logo img {
    visibility: visible;
    width: 50px;
    margin-left: 15px;
  }

  .socials {
    padding-top: 10px;
  }
  .socials_icons {
    width: 25px;
    align-items: center;
    text-align: center;
  }

  /* MAIN */
  .main_title h1 {
    font-size: 3em;
    line-height: 55px;
  }

  /* FOOTER */
  .footer_paragraph {
    font-size: 1.3em;
    line-height: 30px;
  }
}

@media only screen and (min-width: 1024px) {
  /* HEADER */
  .header_nav h2 {
    font-size: 1.4em;
  }
  
  .socials {
    padding-top: 8px;
    
  }
  .socials_icons {
    width: 28px;
    align-items: center;
    text-align: center;
  }

  /* MAIN */
  .main_title h1 {
    font-size: 3.5em;
    margin: 0 250px;
    line-height: 65px;
  }

  .button_play_index {
    width: 200px;
    height: 80px;
    margin-top: 50px;
  }

  .button_play_index a {
    position: absolute;
    width: 200px;
    height: 80px;
    font-size: 1.9em;
    padding-top: 30px;
  }

  /* FOOTER */
  .footer_container{
    justify-content: space-evenly;
  }
  .footer_drew img {
    visibility: visible;
    width: 180px;
  }

  .footer_paragraph {
    font-size: 1.6em;
    line-height: 35px;
    margin: 0;
    padding-top: 35px;
  }
}

@media only screen and (min-width: 1280px) {
  /* HEADER */
  .header_nav h2 {
    font-size: 1.8em;
    padding-top: 17px;
  }

  .header_logo img {
    width: 80px;
    margin-left: 15px;
  }

  .socials {
    padding-top: 18px;
  }
  .socials_icons {
    width: 40px;
    margin-left: 15px;
  }

  /* MAIN */
  .main_title h1 {
    font-size: 4em;
    margin: 0 250px;
    line-height: 70px;
  }

  .button_play_index {
    width: 250px;
    height: 80px;
    margin-top: 70px;
  }

  .button_play_index a {
    position: absolute;
    width: 250px;
    height: 80px;
    font-size: 2em;
  }

  /* FOOTER */
  .footer_drew img {
    visibility: visible;
    width: 200px;
  }

  .footer_paragraph {
    font-size: 2em;
    line-height: 40px;
    margin: 0;
  }
}

@media only screen and (min-width: 1440px) {
  /* HEADER */
  .header_nav h2 {
    justify-content: space-between;
  }

  /* MAIN */
  .main_title h1 {
    font-size: 4.5em;
    line-height: 75px;
  }

  .button_play_index a {
    font-size: 2em;
    padding-top: 25px;
  }

  /* FOOTER */
  .footer_paragraph {
    font-size: 2.1em;
    line-height: 45px;
    margin: 0;
  }
}

@media only screen and (min-width: 1680px) {
  /* HEADER */
  header{
    width: 100%;
    margin-top: 40px;
    height: 100px;
  }

  .header_nav{
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }

  .header_logo{
    display: flex;
    text-align: center;
    align-items: center;
  }

  .header_logo img {
    width: 80px;
    margin-left: 15px;
  }

  .header_nav h2 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    padding-top: 20px;
  }

  .socials_icons {
    width: 40px;
    margin-left: 10px;
    margin-top: 25px;
  }

  /* MAIN */
  main{
    margin: 0 300px;

  }
  .main_title h1 {
    font-size: 4.6em;
    line-height: 80px;
  }

  .button_play_index {
    width: 200px;
    height: 80px;
  }

  .button_play_index a {
    width: 200px;
    height: 80px;
    font-size: 2em;
    padding-top: 30px;
  }

  /* FOOTER */

  .footer_drew img {
    width: 250px;
    visibility: visible;
  }

  .footer_paragraph {
    line-height: 40px;
  }

}
